body > * {
    font-family: "Quicksand", sans-serif;
}

h1, h2 {
    font-family: "Koulen", sans-serif;
}

.bg-red {
    background-color: #8b0000;
}

.bg-gray {
    background-color: #505050!important;
}

.border-light-red {
    border-style: solid;
    border-color: #9c0000;
    border-width: 1px;
}