:root {
    --main-bg-color: #8b0000;
    --main-bg-color-light: #a60505;
    --main-bg-color-lighter: #c82333;
    --secondary-bg-color: #505050;
    --secondary-bg-color-light: #5A5A5A;
    --secondary-bg-color-dark: #303030;
}

body > * {
    font-family: "Quicksand", sans-serif;
}

h1, h2 {
    font-family: "Koulen", sans-serif;
}

.bg-red {
    background-color: var(--main-bg-color);
}

.bg-gray {
    background-color: var(--secondary-bg-color)!important;
}

.text-gray {
    color: var(--secondary-bg-color);
}

.border-light-red {
    border-style: solid;
    border-color: var(--main-bg-color-light);
    border-width: 1px;
}

.border-top-light-red {
    border-top-style: solid;
    border-top-color: var(--main-bg-color-light);
    border-top-width: 6px;
}

.border-bottom-lighter-red {
    border-width: 0;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: var(--main-bg-color-lighter);
}

.btn-gray {
    background-color: var(--secondary-bg-color-dark) !important;
    color: white!important;
}

.btn-gray:hover {
    background-color: var(--secondary-bg-color) !important;
}

.background-image {
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.header-text {
    font-size: 45px;
}

.text-shadow {
    text-shadow: 2px 2px 8px #55555566;
}

.back-arrow {
    transition: 0.2s;
    transform: rotate(180deg)!important;
}

#back-button:hover .back-arrow {
    transform: translateX(-10px) rotate(180deg)!important;
}