#logo {
    width: 275px;
}

.nav-item:hover,
.nav-item.active {
    background-color: var(--main-bg-color-light)!important;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active {
    background-color: var(--secondary-bg-color-light)!important;
}

.nav-item {
    transition: 0.2s;
}

#searchInput::placeholder {
    font-size: 14px;
}

.dropdown-menu {
    height: 0;
    display: block!important;
    transition: height 0.2s ease;
    overflow: hidden;
}

.dropdown-menu.show {
    height: 170px;
}

#homeIcon {
    width: 56px;
    height: 48px;
}

#homeIcon:hover img {
    transform: rotate(180deg);
}

#homeIcon img {
    transition: 0.5s;
    position: absolute;
    left: 20px;
    top: 15px;
    margin-top: -2px;
    height: 30px;
}

#iconWithBars {
    opacity: 1;
}

#homeIcon:hover #iconWithBars {
    opacity: 0;
}
