#logo {
    width: 275px;
}

.nav-item:hover {
    background-color: var(--main-bg-color-light)!important;
}

.dropdown-menu {
    margin-top: -1px!important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--secondary-bg-color-light)!important;
}

.nav-item {
    transition: 0.2s;
}

#searchInput::placeholder {
    font-size: 14px;
}

.navbar-collapse {
    transition: 0.5s;
}