#logo {
    width: 275px;
}

.nav-item:hover {
    background-color: #9c0000!important;
}

.dropdown-menu {
    margin-top: -2px!important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #5A5A5A!important;
}

.nav-item {
    transition: 0.2s;
}

#searchInput::placeholder {
    font-size: 14px;
}
