body > * {
    font-family: "Quicksand", sans-serif;
}

h1, h2 {
    font-family: "Koulen", sans-serif;
}

.bg-red {
    background-color: #8b0000;
}

.border-light-red {
    border-style: solid;
    border-color: #9c0000;
    border-width: 1px;
}

#searchInput::placeholder {
    font-size: 14px;
}

.nav-item {
    /*padding: 7px 7px;*/
    transition: 0.2s;
}